h1 {
    font-family: 'Amiko', sans-serif;
}
h2{
    font-family: 'Palanquin Dark', sans-serif;
}

body {
background-color: #DE5E5E;
text-align: center;
}
img {
width: 340px;
height: 340px;
}
p{  
    font-family: 'Amiko', sans-serif;  
}